{% extends 'VentureIntermediateBundle::layout.html.twig' %}

{% block title %}Intermediate Details{% endblock%}

{% block middle %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-12">
            <h4>Intermediates:
                <small>{{ intermediate.ItemNumber }}: </small>
                <small>{{ intermediate.ItemName }}:</small>
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Description: {{ intermediate.itemDescription }}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row space-top">
        <div class="col-md-6">
            <p>Unit of measure: {{ intermediate.unitOfMeasure.name }}</p>
            <p>
                Tags:
                {% for tag in intermediate.tags %}
                    {{ tag.name }}
                {% else %}
                    {{ "N/A" }}
                {% endfor %}
            </p>
        </div>
        <div class="col-md-6">
            <p class="text-right">Quoting cost: {{ quoting_cost }}</p>
            <p class="text-right">Lowest cost: {{ lowest_cost }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Properties</h5>
        </div>
    </div>

    {% for property in properties %}
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li>{{ property.property? property.property.name: "N/A" }}</li>
                    <li>{{ property.specification }}</li>
                    <li>{{ property.specificationMath }}</li>
                    <li>{{ property.testProcedure? property.testProcedure.name: "N/A" }}</li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <p>There is no property listed</p>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% if formulas | length > 0 %}
    <div class="row">
        <div class="col-md-12">
            <h5>Formulas</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                {% for formula in formulas %}
                    <dt>
                        {{ formula.ingredient?formula.ingredient.itemNumber:"" }}
                         {{ formula.rawMaterial?formula.rawMaterial.itemNumber:"" }}
                    </dt>
                    <dd>{{ formula.amount }}%</dd>
                {% endfor %}
                    <dt>Total Percentage:</dt>
                    <dd>{{ total_percentage['total_amount']? total_percentage['total_amount']:0 }}%</dd>
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <h5>Other Informations</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Reason For Change: {{ intermediate.reasonForChange }}</p>
            <p>Amount in stock: 0</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row space-top space-bottom">
        <div class="col-md-12">
            <ul class="list-inline">
                <li>
                    <button type="button"
                            data-path="{{ path('venture_intermediate_history',  {'id': id}) }}"
                            class="btn btn-default btn-sm target">History</button>
                </li>
                <li>
                    <button type="button"
                            data-path="{{ path('venture_intermediate_update',  {'id': id}) }}"
                            class="btn btn-default btn-sm target">Update</button>
                </li>
                <li>
                    <button type="button"
                            data-path="{{ path('venture_intermediate_delete',  {'id': id}) }}"
                            class="btn btn-default btn-sm target confirm">Delete</button>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}