{{ form_start(form) }}
        <div class="cont font-check">
            <h4 class="desc-cont">{{ "intermediate: entry" | upper }}</h4>
            <div class="property-cont">
                <div class= "form-element-controller">
                    <p class="label">{{ form_label(form.itemNumber) }}</p>
                    <p class="field">{{ form_widget(form.itemNumber) }}</p>
                    <p class="error">{{ form_errors(form.itemNumber) }}</p>
                </div>
                <div class= "form-element-controller">
                    <p class="label">{{ form_label(form.itemName) }}</p>
                    <p class="field">{{ form_widget(form.itemName) }}</p>
                    <p class="error">{{ form_errors(form.itemName) }}</p>
                </div>
                <div class= "form-element-controller">
                    <p class="label">{{ form_label(form.itemDescription) }}</p>
                    <p class="field">{{ form_widget(form.itemDescription) }}</p>
                    <p class="error">{{ form_errors(form.itemDescription) }}</p>
                </div>
            </div>
            <div class="property-cont">
                <div class= "form-element-controller">
                    <p class="label">{{ form_label(form.unitOfMeasure) }}</p>
                    <p class="field">{{ form_widget(form.unitOfMeasure) }}</p>
                    <p class="error">{{ form_errors(form.unitOfMeasure) }}</p>
                </div>
                <div class= "form-element-controller">
                    <p class="label">{{ form_label(form.tags) }}</p>
                    <p class="field">{{ form_widget(form.tags) }}</p>
                    <p class="error">{{ form_errors(form.tags) }}</p>
                </div>
            </div>
            
            <div class="property-cont">
                <ul class="spec" data-prototype="{{ form_widget(form.properties.vars.prototype)|e }}">
                    {% for prop in form.properties %}
                    <li>
                        <div>
                            <div>
                                {{ form_label(prop.property) }}
                                {{ form_widget(prop.property) }}
                                {{ form_errors(prop.property) }}
                            </div>
                            
                            <div>
                                {{ form_label(prop.specificationMath) }}
                                {{ form_widget(prop.specificationMath) }}
                                {{ form_errors(prop.specificationMath) }}
                            </div>
                                
                            <div>
                                {{ form_label(prop.specification) }}
                                {{ form_widget(prop.specification) }}
                                {{ form_errors(prop.specification) }}
                            </div>
                                
                            <div>
                                {{ form_label(prop.testProcedure) }}
                                {{ form_widget(prop.testProcedure) }}
                                {{ form_errors(prop.testProcedure) }}
                            </div>
                        </div>
                        <a class="del_prop deleteParentElement" href="#">Delete</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="property-cont">
                <ul class="shipping" data-prototype="{{ form_widget(form.formulas.vars.prototype)|e }}">
                    {% for formula in form.formulas %}
                    <li>
                        <div>
                            <div>
                                {{ form_label(formula.rawMaterial) }}
                                {{ form_widget(formula.rawMaterial) }}
                                {{ form_errors(formula.rawMaterial) }}
                            </div>
                            <div>
                                {{ form_label(formula.ingredient) }}
                                {{ form_widget(formula.ingredient) }}
                                {{ form_errors(formula.ingredient) }}
                            </div>
                            <div>
                                {{ form_label(formula.amount) }}
                                {{ form_widget(formula.amount) }}
                                {{ form_errors(formula.amount) }}
                            </div>
                            
                        </div>
                        <a class="del_prop deleteParentElement" href="#">Delete</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="property-cont">
                <div class="rows">
                    <div class= "form-element-controller four-items">
                        <div class="horizontal_cont">
                            <p class="label horizontal_pos mod_width">{{ form_label(form.reasonForChange) }}:</p>
                            <p class="field horizontal_pos">{{ form_widget(form.reasonForChange) }}</p>
                        </div>
                        <p class="error">{{ form_errors(form.reasonForChange) }}</p>
                        {% if id is defined %}
                        <button class="add-new target" type="button" data-location="{{ path('venture_intermediate_history',  {'id': id}) }}">{{ 'view history' | title }}</button>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
            
            <div class="property-cont">
                <div class="rows">
                    <div class= "form-element-controller four-items">
                        <p class="label">{{ form_label(form.isActive) }}</p>
                        <p class="field">{{ form_widget(form.isActive) }}</p>
                        <p class="error">{{ form_errors(form.isActive) }}</p>
                    </div>
                </div>
            </div>
            
            <div class="property-cont no-brd">
                <div class="rows">
                    <div class= "form-element-controller four-items">
                        <p class="field">
                            <button class="add-new" type="submit">Save</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
       {{ form_end(form) }}