{% extends 'VentureIntermediateBundle::layout.html.twig' %}

{% block title %}Intermediate Details{% endblock%}

{% block middle %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-12">
            <h4>Intermediates:
                <small>{{ intermediate['itemNumber'] is defined?intermediate['itemNumber']:"N/A" }}: </small>
                <small>{{ intermediate['itemName'] is defined?intermediate['itemName']:"N/A" }}:</small>
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Description: {{ intermediate['itemDescription'] is defined?intermediate['itemDescription']:"N/A" }}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row space-top">
        <div class="col-md-6">
            <p>Unit of measure: {{ intermediate['unitOfMeasure'] is defined?intermediate['unitOfMeasure']:"N/A" }}</p>
            <p>Tags: {{ intermediate['tags'] is defined?intermediate['tags']:"N/A" }}</p>
        </div>
        <div class="col-md-6">
            <p class="text-right">Quoting cost: {{ intermediate['quotingCost'] is defined?intermediate['quotingCost']:"N/A" }}</p>
            <p class="text-right">Lowest cost: {{ intermediate['lowestCost'] is defined?intermediate['lowestCost']:"N/A" }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Properties</h5>
        </div>
    </div>

    {% for property in intermediate['properties'] %}
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li>{{ property['property'] is defined?property['property']:"N/A" }}</li>
                    <li>{{ property['specification'] is defined?property['specification']:"N/A" }}</li>
                    <li>{{ property['specificationMath'] is defined?property['specificationMath']:"N/A" }}</li>
                    <li>{{ property['testProcedure'] is defined?property['testProcedure']:"N/A" }}</li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <p>There is no property listed</p>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% if intermediate['formulas'] | length > 0 %}
        <div class="row">
            <div class="col-md-12">
                <h5>Formulas</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    {% for formula in intermediate['formulas'] %}
                        <dt>
                            {{ formula['rawMaterial'] is defined?formula['rawMaterial']:"" }}
                            {{ formula['intermediate'] is defined?formula['intermediate']:"" }}
                        </dt>
                        <dd>{{ formula['amount'] is defined?formula['amount']:'0' }}%</dd>
                    {% endfor %}
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="border"></div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <h5>Other Informations</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Reason For Change: {{ intermediate['reasonForChange'] is defined?intermediate['reasonForChange']:"N/A" }}</p>
            <p>Amount in stock: {{ intermediate['amountInStock'] is defined?intermediate['amountInStock']:0 }}</p>
        </div>
    </div>

{% endblock %}