<div class="row space-top">
    <div class="col-md-10">
        {{ form_start(form, {
        'action': path('SettingsConfigBundle_sales_price_point_add', {'id': id}),
        'attr': {
        'class' : 'form-horizontal',
        'role' :'form'
        }
        }) }}
        <div class="form-group">
            {{ form_label(form.salesCostPoint, null, {'label_attr': {'class' : 'col-sm-4 control-label'} }) }}
            <div class="col-sm-8">
                {{ form_widget(form.salesCostPoint, {'attr': {'class' : 'form-control input-sm'} }) }}
                {{ form_errors(form.salesCostPoint) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.description, null, {'label_attr': {'class' : 'col-sm-4 control-label'} }) }}
            <div class="col-sm-8">
                {{ form_widget(form.description, {'attr': {'class' : 'form-control input-sm'} }) }}
                {{ form_errors(form.description) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                    {{ form_label(form.approved) }}
                    {{ form_widget(form.approved) }}
                    {{ form_errors(form.approved) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="col-md-2"></div>
</div>