<form class="form-horizontal" role="form">

    <div class="form-group">
        <label class="col-sm-3 control-label">Name:</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{ group.name }}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Description: </label>
        <div class="col-sm-9">
            <p class="form-control-static">{{ group.description }}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Updated:</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{ group.updated|date('F j, Y h:iA') }}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Role:</label>
        <div class="col-sm-9">
            <p class="form-control-static">
                {% for role in group.roles %}
                    {{ role }}
                {% endfor %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="form-group space-top">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="button"
                    data-path="{{ path("fos_user_group_edit", {"groupname" : group.name}) }}"
                    class="btn btn-default btn-sm target">Update</button>

            <button type="button"
                    data-path="{{ path("fos_user_group_delete", {"groupname" : group.name}) }}"
                    class="btn btn-default btn-sm target confirm">Delete</button>
        </div>
    </div>

</form>