<div class="row">
    <div class="col-md-12">
        <h4>Finished Product: Entry</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="border"></div>
    </div>
</div>

{{ form_start(form, {'attr' : {'role': 'form'} } ) }}

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.itemNumber) }}
            {{ form_widget(form.itemNumber, {'attr': {'class' : 'form-control input-sm'} }) }}
            {{ form_errors(form.itemNumber) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.itemName) }}
            {{ form_widget(form.itemName, {'attr': {'class' : 'form-control input-sm'} }) }}
            {{ form_errors(form.itemName) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.itemDescription) }}
            {{ form_widget(form.itemDescription, {'attr': {'class' : 'form-control input-sm'} }) }}
            {{ form_errors(form.itemDescription) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.configPackaging) }}
            {{ form_widget(form.configPackaging, {'attr': {'class' : 'form-control input-sm'} }) }}
            {{ form_errors(form.configPackaging) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.tags) }}
            {{ form_widget(form.tags, {'attr': {
            'class' : 'form-control input-sm',
            'placeholder' : 'Seperated by comma. Ex: (tag-1, tag-2)'
            } }) }}
            {{ form_errors(form.tags) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="border"></div>
    </div>
</div>

<div class="row space-top">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.standardCost) }}
            {{ form_widget(form.standardCost, {'attr': {
                'class' : 'form-control input-sm',
                'placeholder' : 'Standard Price'
            } }) }}
            {{ form_errors(form.standardCost) }}
        </div>
    </div>
    <div class="col-md-6"></div>
</div>


{% for salesPointCost in form.salesPointCosts %}
    <div class="row salesPointCost">
        {% include 'VentureCommonBundle:Common:salespoint.form.html.twig' %}
    </div>

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <a class="del_prop" href="#" onclick="delTHis(this)">Delete</a>
        </div>
    </div>
{% endfor %}

<div class="row add-salesPointCosts space-bottom"
     data-prototype="{% filter escape %}
        {% include 'VentureCommonBundle:Common:salespoint.form.html.twig' with {'salesPointCost': form.salesPointCosts.vars.prototype} %}
        {% endfilter %}">
    <div class="col-md-2">
        <button type="button" class="btn btn-default btn-xs" id="add-salesPointCosts">Add Price Point</button>
    </div>
    <div class="col-md-10"></div>
</div>




<div class="row space-bottom">
    <div class="col-md-12">
        <div class="border"></div>
    </div>
</div>

{% for property in form.properties %}
    <div class="row property">
        {% include 'VentureCommonBundle:Common:properties.form.html.twig' %}
    </div>

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <a class="del_prop" href="#" onclick="delTHis(this)">Delete</a>
        </div>
    </div>
{% endfor %}

<div class="row add-properties"
     data-prototype="{% filter escape %}
        {% include 'VentureCommonBundle:Common:properties.form.html.twig' with {'property': form.properties.vars.prototype} %}
        {% endfilter %}">
    <div class="col-md-2">
        <button type="button" class="btn btn-default btn-xs" id="add-properties">Add Property</button>
    </div>
    <div class="col-md-10"></div>
</div>

<div class="row space-top space-bottom">
    <div class="col-md-12">
        <div class="border"></div>
    </div>
</div>

{% for formula in form.formulas %}
    <div class="row ingredient">
        {% include 'VentureCommonBundle:Common:formula.form.html.twig' %}
    </div>

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <a class="del_prop" href="#" onclick="delTHis(this)">Delete</a>
        </div>
    </div>
{% endfor %}

<div class="row add-ingredients"
     data-prototype="{% filter escape %}
        {% include 'VentureCommonBundle:Common:formula.form.html.twig' with {'formula': form.formulas.vars.prototype} %}
        {% endfilter %}">
    <div class="col-md-2">
        <button type="button" class="btn btn-default btn-xs" id="add-ingredients">Add Ingredients</button>
    </div>
    <div class="col-md-10"></div>
</div>

<div class="row space-top space-bottom">
    <div class="col-md-12">
        <div class="border"></div>
    </div>
</div>

<div class="row space-top">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.reorderPoint) }}
            {{ form_widget(form.reorderPoint, {'attr': {'class' : 'form-control input-sm'} }) }}
            {{ form_errors(form.reorderPoint) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.competitiveProducts) }}
            {{ form_widget(form.competitiveProducts, {'attr': {'class' : 'form-control input-sm'} }) }}
            {{ form_errors(form.competitiveProducts) }}
        </div>
    </div>
</div>

<div class="row space-top space-bottom">
    <div class="col-md-12">
        <div class="border"></div>
    </div>
</div>

<div class="row space-top">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.reasonForChange) }}
            {{ form_widget(form.reasonForChange, {'attr': {'class' : 'form-control input-sm'} }) }}
            {{ form_errors(form.reasonForChange) }}
            {% if id is defined %}
                <p class="help-block">
                    <a href="{{ path('venture_finished_product_history',  {'id': id}) }}" target="_blank">View History</a>
                </p>
            {% endif %}
        </div>
    </div>
</div>

<div class="row space-top">
    <div class="col-md-12">
        <div class="border"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="checkbox">
            {{ form_label(form.isActive) }}
            {{ form_widget(form.isActive) }}
            {{ form_errors(form.isActive) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="border"></div>
    </div>
</div>

<div class="row space-top">
    <div class="col-md-2">
        <div class="form-group">
            <button type="Submit" class="btn btn-default">Save</button>
        </div>
    </div>
    <div class="col-md-10"></div>
</div>

{{ form_end(form) }}