{% extends 'VentureFinishedProductBundle::layout.html.twig' %}

{% block title %}Finished Product History{% endblock%}

{% block middle %}
    {{ parent() }}

    <div class="row">
        <div class="col-md-12">
            <h4>Finished Product:
                <small>{{ finishedProduct.itemNumber }}:</small>
                <small>History</small></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row space-top">
        <div class="col-md-12">
            <p class="text-left">Total Record: <b>{{ pagination.getTotalItemCount }}</b></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Date Of Revision', 'c.loggedAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Reason', 'c.reasonForChange') }}</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for version in pagination %}
                    <tr>
                        <td>{{ version.loggedAt|date('F j, Y h:iA')}}</td>
                        <td>{{ version.reasonForChange }}</td>
                        <td><a class="my_custom_anchor" href="{{ path('venture_finished_product_history_details', {'id': version.id}) }}">VIEW</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">>No Records Found</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}