{% extends 'VentureFinishedProductBundle::layout.html.twig' %}

{% block title %}Finished Product History Details{% endblock%}

{% block middle %}
    {{ parent() }}

    <div class="row">
        <div class="col-md-12">
            <h4>Finished Products:
                <small>{{ finishedProduct['itemNumber'] is defined?finishedProduct['itemNumber']:"N/A" }}: </small>
                <small>{{ finishedProduct['itemName'] is defined?finishedProduct['itemName']:"N/A" }}:</small>
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Description: {{ finishedProduct['itemDescription'] is defined?finishedProduct['itemDescription']:"N/A" }}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row space-top">
        <div class="col-md-6">
            <p>Packaging: {{ finishedProduct['configPackaging'] is defined?finishedProduct['configPackaging']:"N/A" }}</p>
            <p>Tags: {{ finishedProduct['tags'] is defined?finishedProduct['tags']:'N/A' }}</p>
        </div>
        <div class="col-md-6">
            <p class="text-right">Quoting cost: {{ finishedProduct['quotingCost'] is defined?finishedProduct['quotingCost']:"N/A" }}</p>
            <p class="text-right">Lowest cost: {{ finishedProduct['lowestCost'] is defined?finishedProduct['lowestCost']:"N/A" }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Sales Price Points:</h5>
        </div>
    </div>

    <div class="row space-top">
        <div class="col-md-6">
            <p>Standard Price: {{ finishedProduct['standardCost'] is defined?finishedProduct['standardCost']:"N/A" }}</p>
        </div>
        <div class="col-md-6">
            {% if finishedProduct['salesPointCosts'] is defined %}
            {% for spCost in finishedProduct['salesPointCosts'] %}
                <p class="text-right">
                    {{ spCost['salesCostPoint'] is defined?spCost['salesCostPoint']:"N/A" }} :
                    {{ spCost['cost'] is defined?spCost['cost']:"N/A" }}</p>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% if finishedProduct['properties'] is defined and finishedProduct['properties'] | length > 0 %}
    <div class="row">
        <div class="col-md-12">
            <h5>Properties</h5>
        </div>
    </div>

    {% for property in finishedProduct['properties'] %}
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li>{{ property['property'] is defined?property['property']:"N/A" }}</li>
                    <li>{{ property['specification'] is defined?property['specification']:"N/A" }}</li>
                    <li>{{ property['specificationMath'] is defined?property['specificationMath']:"N/A" }}</li>
                    <li>{{ property['testProcedure'] is defined?property['testProcedure']:"N/A" }}</li>
                </ul>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>
    {% endif %}

    {% if finishedProduct['formulas'] is defined and finishedProduct['formulas'] | length > 0 %}
        <div class="row">
            <div class="col-md-12">
                <h5>Formulas</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    {% for formula in finishedProduct['formulas'] %}
                        <dt>
                            {{ formula['intermediate'] is defined ? formula['intermediate']:"" }}
                            {{ formula['rawMaterial'] is defined?formula['rawMaterial']:"" }}
                        </dt>
                        <dd>{{ formula['amount'] is defined?formula['amount']:"N/A" }}%</dd>
                    {% endfor %}
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="border"></div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <h5>Other Informations</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Reason for change: {{ finishedProduct['reasonForChange'] is defined?finishedProduct['reasonForChange']:"N/A" }}</p>
            <p>Amount in stock: {{ finishedProduct['amountInStock'] is defined? finishedProduct['amountInStock']:"N/A" }}</p>
            <p>Amount on Sales Order: {{ finishedProduct['amountInPurchaseOrder'] is defined?finishedProduct['amountInPurchaseOrder']:"N/A" }} </p>
            <p>Recommended Stock Level: {{ finishedProduct['reorderPoint'] is defined?finishedProduct['reorderPoint']:"N/A" }}</p>
        </div>
    </div>

{% endblock %}
