{{ form_start(form, {'attr' : {'role': 'form'} } ) }}

<div class="row">
    <div class="col-md-12">
        <h4>Convert to Raw Materials</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="border"></div>
    </div>
</div>

<div class="row space-top">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.itemNumber) }}
            {{ form_widget(form.itemNumber, {'attr': {'class' : 'form-control input-sm'} }) }}
            {{ form_errors(form.itemNumber) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.reorderPoint) }}
            {{ form_widget(form.reorderPoint, {'attr': {'class' : 'form-control input-sm'} }) }}
            {{ form_errors(form.reorderPoint) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="border"></div>
    </div>
</div>

<div class="row space-top">
    <div class="col-md-12">
        <div class="form-group">
            <button type="Submit" class="btn btn-default">Convert</button>
        </div>
    </div>
</div>

{{ form_end(form) }}