<div class= total>
    <div class="left_form">
        <div>
            {{ form_label(det.vendor) }}
            {{ form_widget(det.vendor) }}
            {{ form_errors(det.vendor) }}
        </div>
    </div>
    <div class="right_form">
        <div>
            {{ form_label(det.shipping_method) }}
            {{ form_widget(det.shipping_method) }}
            {{ form_errors(det.shipping_method) }}    
        </div>
            
        <div>
            {{ form_label(det.lead_time) }}
            {{ form_widget(det.lead_time) }}
            {{ form_errors(det.lead_time) }}        
        </div>
            
        <div>
            {{ form_label(det.configPackaging) }}
            {{ form_widget(det.configPackaging) }}
            {{ form_errors(det.configPackaging) }}        
        </div>
            
        <div>
            {{ form_label(det.amount_shipped) }}
            {{ form_widget(det.amount_shipped) }}
            {{ form_errors(det.amount_shipped) }}        
        </div>
            
        <div>
            {{ form_label(det.pre_freight_cost) }}
            {{ form_widget(det.pre_freight_cost) }}
            {{ form_errors(det.pre_freight_cost) }}        
        </div>
        
        <div>
            {{ form_label(det.freight_cost) }}
            {{ form_widget(det.freight_cost) }}
            {{ form_errors(det.freight_cost) }}        
        </div>
            
        <div>
            {{ form_label(det.total_cost) }}
            {{ form_widget(det.total_cost) }}
            {{ form_errors(det.total_cost) }}        
        </div>
            
        <div>
            {{ form_label(det.cost_per_unit) }}
            {{ form_widget(det.cost_per_unit) }}
            {{ form_errors(det.cost_per_unit) }}        
        </div>
    </div>
</div>