{% extends 'VentureAlternateRawMaterialBundle::layout.new.html.twig' %}

{% block title %}Alternate Raw Material Details{% endblock%}


{% block middle %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-12">
            <h4>ALTERNATE RAW MATERIALS: <small>{{ alternateRawMaterial.ItemName }}</small></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Description: <small>{{ alternateRawMaterial.itemDescription }}</small></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row space-top">
        <div class="col-md-6">
            <p>Unit of measure: {{ alternateRawMaterial.unitOfMeasure?alternateRawMaterial.unitOfMeasure.name:"N/A" }}</p>
            <p>Tags:
                {% for tag in alternateRawMaterial.tags %}
                    {{ tag.name }}
                {% else %}
                    {{ "N/A" }}
                {% endfor %}
            </p>
        </div>
        <div class="col-md-6">
            <p class="text-right">Quoting cost: {{ alternateRawMaterial.quotingCost }}</p>
            <p class="text-right">Lowest cost: {{ alternateRawMaterial.lowestCost }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Properties</h5>
        </div>
    </div>

    {% for property in alternateRawMaterial.properties %}
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li>{{ property.property? property.property.name: "N/A" }}</li>
                    <li>{{ property.specification }}</li>
                    <li>{{ property.specificationMath }}</li>
                    <li>{{ property.testProcedure? property.testProcedure.name: "N/A" }}</li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <p>There is no property listed</p>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Vendors</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Vendor Name</th>
                    <th>Shipping Method</th>
                    <th>Pre Freight Cost</th>
                    <th>Lead Time</th>
                    <th>Cost/{{ alternateRawMaterial.unitOfMeasure.name }}</th>
                </tr>
                </thead>
                <tbody>
                {% for detail in alternateRawMaterial.orderingDetails %}
                    <tr>
                        <td>
                            <a href="{{ path('VentureVendorBundle_vendor_details', {'id': detail.vendor.id}) }}"
                               target="_blank">{{detail.vendor.name}}
                            </a>
                        </td>
                        <td>{{detail.shippingMethod.name}}</td>
                        <td>{{detail.preFreightCost}}</td>
                        <td>{{detail.leadTime}}</td>
                        <td>{{detail.costPerUnit}}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No vendor info is listed</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Other Informations</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Amount in stock: 0</p>
            <p>Amount on purchase order: 0</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row space-top space-bottom">
        <div class="col-md-12">
            <ul class="list-inline">
                <li>
                    <button type="button"
                            class="btn btn-default btn-sm popUpButton" data-path="#">Convert</button>
                </li>
                <li>
                    <button type="button"
                            data-path="{{ path('venture_edit_alternate_raw_material',  {'id': alternateRawMaterial.id}) }}"
                            class="btn btn-default btn-sm target">Update</button>
                </li>
                <li>
                    <button type="button"
                            data-path="{{ path('venture_remove_alternate_raw_material',  {'id': alternateRawMaterial.id}) }}"
                            class="btn btn-default btn-sm target confirm">Delete</button>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}


{% block popup %}
    {{ parent() }}
    <div id="popUp">
        <span class="button b-close">
            <span>X</span>
        </span>
        <div class="popUpContent">
            {{ render(controller('VentureAlternateRawMaterialBundle:AlternateRawMaterial:convertToRawMaterials', { 'id': alternateRawMaterial.id })) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'js/lib/bPopUpLib.js'
    '@VentureAlternateRawMaterialBundle/Resources/public/js/custom.popup.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@VentureAlternateRawMaterialBundle/Resources/public/css/common.css' %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

