    <table id="hor-minimalist-a">
        <thead>
            <th>Sales Rep. Name</th>
            <th>Status</th>
            <th>Updated</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for salesrep in allSalesRep %}
            <tr class="comment {{ cycle(['odd', 'even'], loop.index0) }}">               
                <td>{{ salesrep.name }}</td>
                <td>{{ (salesrep.isActive)?"Active":"Inactive" }}</td>
                <td>{{ salesrep.updated|date('F j, Y h:iA') }}</td>
                <td>
                    <a class="my_custom_anchor" href="{{ path('SettingsConfigBundle_salesrep_update', {'id': salesrep.id}) }}">Edit</a> | 
                    <a class="my_custom_anchor" href="{{ path('SettingsConfigBundle_salesrep_delete', {'id': salesrep.id}) }}" onclick="return confirmDel();">Delete</a>
                </td>
            </tr>
            {% else %}
            <tr class="empty">
                <td colspan="5">There are sales rep. entered yet</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>