{% extends '::venture.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@VentureCompetitiveProductBundle/Resources/public/css/common.css'
        '@VentureCompetitiveProductBundle/Resources/public/css/form.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />    
    {% endstylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
{% endblock %}
        
{% block javascripts %}
    {{ parent() }}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    {% javascripts 
        '@VentureCompetitiveProductBundle/Resources/public/js/common_lib.js' 
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block middle %}
    {{ parent() }}
    <div class = "maincont">
        {% block main %} 
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="notice"> {{ flashMessage }} </div>
            {% endfor %}
        {% endblock %} 
   </div>    
{% endblock %}
        
{% block menu6 %}
        <li class="activeMenu"><a href="{{ path('venture_competitive_product_list', {'type': 'show_all'}) }}">Competitive Products</a></li>
{% endblock %}
