{% extends 'VenturePackagingBundle::layout.html.twig' %}

{% block title %}Packaging Details{% endblock%}

{% block middle %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-12">
            <h4>Packaging:
                <small>{{ packaging.ItemNumber }}: </small>
                <small>{{ packaging.ItemName }}:</small>
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Description: {{ packaging.description }}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row space-top">
        <div class="col-md-6">
            <p>Unit of measure: {{ packaging.unitOfMeasure.name }}</p>
            <p>Tags: {{ packaging.tags }}</p>
        </div>
        <div class="col-md-6">
            <p class="text-right">Quoting cost: {{ quoting_cost }}</p>
            <p class="text-right">Lowest cost: {{ lowest_cost }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Vendors</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Shipping Method</th>
                    <th>Pre Freight Cost</th>
                    <th>Lead Time</th>
                    <th>Cost/{{ packaging.unitOfMeasure.name }}</th>
                </tr>
                </thead>
                <tbody>
                {% for det in shipping_details %}
                    <tr>
                        <td><a href="{{ path('VentureVendorBundle_vendor_details', {'id': det.vendor.id}) }}" target="_blank">{{det.vendor.name}}</a></td>
                        <td>{{det.shippingMethod.name}}</td>
                        <td>{{det.preFreightCost}}</td>
                        <td>{{det.leadTime}}</td>
                        <td>{{det.costPerUnit}}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No vendor info is listed</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Other Informations</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Amount in stock: 0</p>
            <p>Amount on purchase order: 0</p>
            <p>Reorder point: {{ packaging.reorderPoint }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row space-top space-bottom">
        <div class="col-md-12">
            <ul class="list-inline">
                <li>
                    <button type="button"
                            data-path="{{ path('venture_packaging_edit',  {'id': id}) }}"
                            class="btn btn-default btn-sm target">Update</button>
                </li>
                <li>
                    <button type="button"
                            data-path="{{ path('venture_packaging_delete',  {'id': id}) }}"
                            class="btn btn-default btn-sm target confirm">Delete</button>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
