<div class="row">
    <div class="col-md-12">
        <h4>Packaging: Entry</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="border"></div>
    </div>
</div>

{{ form_start(form, {'attr' : {'role': 'form'} } ) }}

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.item_number) }}
            {{ form_widget(form.item_number, {'attr': {'class' : 'form-control input-sm'} }) }}
            {{ form_errors(form.item_number) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.item_name) }}
            {{ form_widget(form.item_name, {'attr': {'class' : 'form-control input-sm'} }) }}
            {{ form_errors(form.item_name) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class' : 'form-control input-sm'} }) }}
            {{ form_errors(form.description) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.unit_of_measure) }}
            {{ form_widget(form.unit_of_measure, {'attr': {'class' : 'form-control input-sm'} }) }}
            {{ form_errors(form.unit_of_measure) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.tags) }}
            {{ form_widget(form.tags, {'attr': {
            'class' : 'form-control input-sm',
            'placeholder' : 'tag-1, tag-2'
            } }) }}
            {{ form_errors(form.tags) }}
        </div>
    </div>
</div>

<div class="row space-bottom">
    <div class="col-md-12">
        <div class="border"></div>
    </div>
</div>

{% for shipping in form.shipping_details %}
    <div class="row shipping">
        {% include 'VentureCommonBundle:Common:packaging.shipping.form.html.twig' %}
    </div>

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <a class="del_prop" href="#" onclick="delTHis(this)">Delete</a>
        </div>
    </div>
{% endfor %}

<div class="row add-shipping"
     data-prototype="{% filter escape %}
        {% include 'VentureCommonBundle:Common:packaging.shipping.form.html.twig' with {'shipping': form.shipping_details.vars.prototype} %}
        {% endfilter %}">
    <div class="col-md-2">
        <button type="button" class="btn btn-default btn-xs" id="add-shipping">Add Ordering Details</button>
    </div>
    <div class="col-md-10"></div>
</div>

<div class="row space-top">
    <div class="col-md-12">
        <div class="border"></div>
    </div>
</div>

<div class="row space-top">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.reorder_point) }}
            {{ form_widget(form.reorder_point, {'attr': {'class' : 'form-control input-sm'} }) }}
            {{ form_errors(form.reorder_point) }}
        </div>
    </div>
    <div class="col-md-6"></div>
</div>

<div class="row space-top">
    <div class="col-md-12">
        <div class="border"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="checkbox">
            {{ form_label(form.is_active) }}
            {{ form_widget(form.is_active) }}
            {{ form_errors(form.is_active) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="border"></div>
    </div>
</div>

<div class="row space-top">
    <div class="col-md-2">
        <div class="form-group">
            <button type="Submit" class="btn btn-default">Save</button>
        </div>
    </div>
    <div class="col-md-10"></div>
</div>

{{ form_end(form) }}