{{ form_start(form, {'attr' : {'role': 'form', 'class': 'form-horizontal'} } ) }}

<div class="form-group space-top">
    {{ form_label(form.username, null, {'label_attr': {'class' : 'col-sm-3 control-label'} }) }}
    <div class="col-sm-9">
        {{ form_widget(form.username, {'attr': {'class' : 'form-control input-sm'} }) }}
        {{ form_errors(form.username) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.email, null, {'label_attr': {'class' : 'col-sm-3 control-label'} }) }}
    <div class="col-sm-9">
        {{ form_widget(form.email, {'attr': {'class' : 'form-control input-sm'} }) }}
        {{ form_errors(form.email) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.plainPassword.first, null, {'label_attr': {'class' : 'col-sm-3 control-label'} }) }}
    <div class="col-sm-9">
        {{ form_widget(form.plainPassword.first, {'attr': {'class' : 'form-control input-sm'} }) }}
        {{ form_errors(form.plainPassword.first) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.plainPassword.second, null, {'label_attr': {'class' : 'col-sm-3 control-label'} }) }}
    <div class="col-sm-9">
        {{ form_widget(form.plainPassword.second, {'attr': {'class' : 'form-control input-sm'} }) }}
        {{ form_errors(form.plainPassword.second) }}
    </div>
</div>

<div class="form-group space-top">
    {{ form_label(form.firstName, null, {'label_attr': {'class' : 'col-sm-3 control-label'} }) }}
    <div class="col-sm-9">
        {{ form_widget(form.firstName, {'attr': {'class' : 'form-control input-sm'} }) }}
        {{ form_errors(form.firstName) }}
    </div>
</div>

<div class="form-group space-top">
    {{ form_label(form.lastName, null, {'label_attr': {'class' : 'col-sm-3 control-label'} }) }}
    <div class="col-sm-9">
        {{ form_widget(form.lastName, {'attr': {'class' : 'form-control input-sm'} }) }}
        {{ form_errors(form.lastName) }}
    </div>
</div>

<div class="form-group space-top">
    {{ form_label(form.phone, null, {'label_attr': {'class' : 'col-sm-3 control-label'} }) }}
    <div class="col-sm-9">
        {{ form_widget(form.phone, {'attr': {'class' : 'form-control input-sm'} }) }}
        {{ form_errors(form.phone) }}
    </div>
</div>

<div class="form-group space-top">
    {{ form_label(form.location, null, {'label_attr': {'class' : 'col-sm-3 control-label'} }) }}
    <div class="col-sm-9">
        {{ form_widget(form.location, {'attr': {'class' : 'form-control input-sm'} }) }}
        {{ form_errors(form.location) }}
    </div>
</div>

<div class="form-group space-top">
    {{ form_label(form.groups, null, {'label_attr': {'class' : 'col-sm-3 control-label'} }) }}
    <div class="col-sm-9">
        {{ form_widget(form.groups, {'attr': {'class' : 'form-control input-sm'} }) }}
        {{ form_errors(form.groups) }}
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label"></label>
    <div class="col-sm-9">
        <button type="Submit" class="btn btn-default">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
</div>

{{ form_end(form) }}