<div class="col-md-3">
    <div class="form-group">
        {{ form_label(shipping.vendor) }}
        {{ form_widget(shipping.vendor, {'attr': {'class' : 'form-control input-sm'} }) }}
        {{ form_errors(shipping.vendor) }}
        <p class="help-block"><a href="{{ path('VentureVendorBundle_vendor_add', {'id': 0}) }}" target="_blank">Click Here</a> to add vendors</p>
    </div>
</div>

<div class="col-md-9">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(shipping.shipping_method) }}
                {{ form_widget(shipping.shipping_method, {'attr': {'class' : 'form-control input-sm'} }) }}
                {{ form_errors(shipping.shipping_method) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(shipping.lead_time) }}
                {{ form_widget(shipping.lead_time, {'attr': {'class' : 'form-control input-sm'} }) }}
                {{ form_errors(shipping.lead_time) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(shipping.amount_shipped) }}
                {{ form_widget(shipping.amount_shipped, {'attr': {'class' : 'form-control input-sm amount_shipped'} }) }}
                {{ form_errors(shipping.amount_shipped) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(shipping.pre_freight_cost) }}
                {{ form_widget(shipping.pre_freight_cost, {'attr': {'class' : 'form-control input-sm pre_freight_cost'} }) }}
                {{ form_errors(shipping.pre_freight_cost) }}
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(shipping.freight_cost) }}
                {{ form_widget(shipping.freight_cost, {'attr': {'class' : 'form-control input-sm freight_cost'} }) }}
                {{ form_errors(shipping.freight_cost) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(shipping.total_cost) }}
                {{ form_widget(shipping.total_cost, {'attr': {'class' : 'form-control input-sm total_cost'} }) }}
                {{ form_errors(shipping.total_cost) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(shipping.cost_per_unit) }}
                {{ form_widget(shipping.cost_per_unit, {'attr': {'class' : 'form-control input-sm cost_per_unit'} }) }}
                {{ form_errors(shipping.cost_per_unit) }}
            </div>
        </div>
    </div>
</div>