<div class="col-md-6">
    <div class="form-group">
        {{ form_label(salesPointCost.salesPricePoint) }}
        {{ form_widget(salesPointCost.salesPricePoint, {'attr': {'class' : 'form-control input-sm'} }) }}
        {{ form_errors(salesPointCost.salesPricePoint) }}
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        {{ form_label(salesPointCost.cost) }}
        {{ form_widget(salesPointCost.cost, {'attr': {'class' : 'form-control input-sm'} }) }}
        {{ form_errors(salesPointCost.cost) }}
    </div>
</div>