<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Property</th>
                <th>Status</th>
                <th>Updated</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for property in properties %}
                <tr>
                    <td>{{ property.name }}</td>
                    <td>{{ property.approved?'Active':'Inactive' }}</td>
                    <td>{{ property.updated|date('F j, Y h:iA') }}</td>
                    <td>
                        <a class="my_custom_anchor" href="{{ path('SettingsConfigBundle_property_update', {'id': property.id}) }}">Edit</a> |
                        <a class="my_custom_anchor delete" href="{{ path('SettingsConfigBundle_property_delete', {'id': property.id}) }}" >Delete</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">There is no property entered yet</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>