{% extends 'VentureRawMaterialsBundle::layout.html.twig' %}

{% block title %}Raw Materials Listing{% endblock%}



{% block main %}
    {{ parent() }}
    <div class="cont"> 
        <h2 class="heading">RAW MATERIALS</h2>
        <button class="add-new" onclick="window.location='{{ path('venture_raw_materials_add') }}'">Add new</button>
        
        <div class="listing-label">
            <p class="label">List all active Raw Materials</p>
            {% if status %} 
            <p class="list-all">
                <input type = "checkbox" onchange="window.location='{{ path('venture_raw_materials_list',  {'type': 'show_all'}) }}'"/> Show Inactive
            </p>
            {% else %}
            <p class="list-all">
                <input type = "checkbox" checked = "checked" onchange="window.location='{{ path('venture_raw_materials_list',  {'type': 'show_active'}) }}'"/> Show Inactive
            </p>
            {% endif %}            
        </div>
        
        <div class="clear"></div>
         
        <table class="raw-materials-listing">
            <thead>
                <tr>
                    <th width="15%">Item#</th>
                    <th width="25%">Name</th>
                    <th width="20%">Amount In Stock</th>
                    <th width="40%">Amount on purchase order</th>
                </tr>
            </thead>
            <tbody>
                {% for raw_material in raw_materials %}
                <tr class="records {{ cycle(['odd', 'even'], loop.index0) }}">
                    <td><a href="{{ path('venture_raw_materials_details',  {'id': raw_material.id}) }}">{{ raw_material.ItemNumber }}</a></td>
                    <td><a href="{{ path('venture_raw_materials_details',  {'id': raw_material.id}) }}">{{ raw_material.ItemName }}</a></td>
                    <td><a href="{{ path('venture_raw_materials_details',  {'id': raw_material.id}) }}">0</a></td>
                    <td><a href="{{ path('venture_raw_materials_details',  {'id': raw_material.id}) }}">0</a></td>
                </tr>
                {% else %}
                <tr class="empty">
                    <td colspan="5">There is no Raw material listed yet</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
   </div>
	
{% endblock %}  