{% extends 'VentureRawMaterialsBundle::layout.html.twig' %}

{% block title %}Raw Materials Listing{% endblock%}

{% block middle %}
    {{ parent() }}

    <div class="row">
        <div class="col-md-12">
            <h4>Raw Materials</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row space-top">
        <div class="col-md-2">
            <button type="button"
                    data-path="{{ path('venture_raw_materials_add') }}"
                    class="btn btn-default btn-sm target">Add New</button>
        </div>
        <div class="col-md-10"></div>
    </div>

    <div class="row space-top">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="space-top">List All Active Raw Materials</div>
        </div>
        <div class="col-md-6">
            <div class="checkbox float-right">
                <label>
                    {% if status %}
                        <input type = "checkbox" onchange="window.location='{{ path('venture_raw_materials_list',  {'type': 'show_all'}) }}'"/> Show Inactive
                    {% else %}
                        <input type = "checkbox" checked = "checked" onchange="window.location='{{ path('venture_raw_materials_list',  {'type': 'show_active'}) }}'"/> Show Inactive
                    {% endif %}
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row space-top">
        <div class="col-md-12">
            <p class="text-left">Total Record: <b>{{ pagination.getTotalItemCount }}</b></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Item', 'r.item_number') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Name', 'r.item_name') }}</th>
                    <th>Amount In Stock</th>
                    <th>Amount on Sales order</th>
                </tr>
                </thead>
                <tbody>
                {% for raw_material in pagination %}
                    <tr>
                        <td><a class="my_custom_anchor" href="{{ path('venture_raw_materials_details',  {'itemNumber': raw_material.itemNumber}) }}">{{ raw_material.ItemNumber }}</a></td>
                        <td><a class="my_custom_anchor" href="{{ path('venture_raw_materials_details',  {'itemNumber': raw_material.itemNumber}) }}">{{ raw_material.ItemName }}</a></td>
                        <td><a class="my_custom_anchor" href="{{ path('venture_raw_materials_details',  {'itemNumber': raw_material.itemNumber}) }}">0</a></td>
                        <td><a class="my_custom_anchor" href="{{ path('venture_raw_materials_details',  {'itemNumber': raw_material.itemNumber}) }}">0</a></td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">There is no Raw material listed yet</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}