{{ form_start(form) }}
<div class="form-left-cloumn">

    <div class="form-element-controller">
        <p class="label"> {{ form_label(form.customer) }}</p>
        <p class="widget"> {{ form_widget(form.customer) }}</p>
        {{ form_errors(form.customer) }}
    </div>

    <div class="form-element-controller">
        <p class="label"> {{ form_label(form.productLine) }}</p>
        <p class="widget"> {{ form_widget(form.productLine) }}</p>
        {{ form_errors(form.productLine) }}
    </div>

    <div class="form-element-controller">
        <p class="label"> {{ form_label(form.contact) }}</p>
        <p class="widget"> {{ form_widget(form.contact) }}</p>
        {{ form_errors(form.contact) }}
    </div>

    <div class="form-element-controller">
        <p class="label"> {{ form_label(form.email) }}</p>
        <p class="widget"> {{ form_widget(form.email) }}</p>
        {{ form_errors(form.email) }}
    </div>

    <div class="form-element-controller">
        <p class="label"> {{ form_label(form.probability) }}</p>
        <p class="widget"> {{ form_widget(form.probability) }}</p>
        {{ form_errors(form.probability) }}
    </div>

    <div class="form-element-controller">
        <p class="label"> {{ form_label(form.expectedAnnualGrowth) }}</p>
        <p class="widget"> {{ form_widget(form.expectedAnnualGrowth) }}</p>
        {{ form_errors(form.expectedAnnualGrowth) }}
    </div>

    {% if form.vars.value.goal %}
    <div class="form-element-controller">
        <p class="label"> {{ form_label(form.goal) }}</p>
        <p class="widget"> {{ form_widget(form.goal) }}</p>
        {{ form_errors(form.goal) }}
    </div>
    {% endif %}

</div>

<div class="form-right-cloumn">
    <div class="form-element-controller">
        <div class="form-element-controller">
            <p class="label"> {{ form_label(form.type) }}</p>
            <p class="widget"> {{ form_widget(form.type) }}</p>
            {{ form_errors(form.type) }}
        </div>
    </div>

    <div class="form-element-controller">
        <p class="label"> {{ form_label(form.salesRep) }}</p>
        <p class="widget"> {{ form_widget(form.salesRep) }}</p>
        {{ form_errors(form.salesRep) }}
    </div>

    <div class="form-element-controller">
        <p class="label"> {{ form_label(form.phone) }}</p>
        <p class="widget"> {{ form_widget(form.phone) }}</p>
        {{ form_errors(form.phone) }}
    </div>

    <div class="form-element-controller">
        <p class="label"> {{ form_label(form.stage) }}</p>
        <p class="widget"> {{ form_widget(form.stage) }}</p>
        {{ form_errors(form.stage) }}
    </div>

    <div class="form-element-controller">
        <p class="label"> {{ form_label(form.projected) }}</p>
        <p class="widget"> {{ form_widget(form.projected) }}</p>
        {{ form_errors(form.projected) }}
    </div>

    <div class="form-element-controller">
        <p class="label"> {{ form_label(form.potential) }}</p>
        <p class="widget"> {{ form_widget(form.potential) }}</p>
        {{ form_errors(form.potential) }}
    </div>
</div>

<div class="property-cont upper-border">
    <p>Pipe Line</p>
    <ul class="shipping" data-prototype="{% filter escape %} {% include 'VenturePipeLineBundle:Default:year_sales_form.html.twig' with {'yearSale': form.yearSales.vars.prototype} %} {% endfilter %}">
        {% for yearSale in form.yearSales %}
            <li>
                {% include 'VenturePipeLineBundle:Default:year_sales_form.html.twig' %}
                <a class="del_prop" href="#" onclick="delTHis(this)">Delete</a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="property-cont upper-border">
    <p>Note</p>
    <ul class="spec" data-prototype="{% filter escape %} {% include 'VenturePipeLineBundle:Default:notes_form.html.twig' with {'note': form.notes.vars.prototype} %} {% endfilter %}">
        {% for note in form.notes %}
            <li>
                {% include 'VenturePipeLineBundle:Default:notes_form.html.twig' %}
                <a class="del_prop" href="#" onclick="delTHis(this)">Delete</a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="property-cont upper-border">
    <div class="rows">
        <div class= "form-element-controller four-items">
            <p class="field"><button class="add-new" type="submit">Save</button></p>
        </div>
    </div>
</div>

{{ form_end(form) }}