<div class= total>
    <div>
        {{ form_label(yearSale.year) }}
        {{ form_widget(yearSale.year) }}
        {{ form_errors(yearSale.year) }}
    </div>

    <div>
        {{ form_label(yearSale.firstQt) }}
        {{ form_widget(yearSale.firstQt) }}
        {{ form_errors(yearSale.firstQt) }}
    </div>

    <div>
        {{ form_label(yearSale.secondQt) }}
        {{ form_widget(yearSale.secondQt) }}
        {{ form_errors(yearSale.secondQt) }}
    </div>

    <div>
        {{ form_label(yearSale.thirdQt) }}
        {{ form_widget(yearSale.thirdQt) }}
        {{ form_errors(yearSale.thirdQt) }}
    </div>

    <div>
        {{ form_label(yearSale.fourthQt) }}
        {{ form_widget(yearSale.fourthQt) }}
        {{ form_errors(yearSale.fourthQt) }}
    </div>

    <div>
        {{ form_label(yearSale.total) }}
        {{ form_widget(yearSale.total) }}
        {{ form_errors(yearSale.total) }}
    </div>

</div>