{% extends '::venture.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@VenturePipeLineBundle/Resources/public/css/common.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />    
    {% endstylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
{% endblock %}


{% block middle %}
    {{ parent() }}
    <div class = "maincont">
        {% block main %} 
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="notice"> {{ flashMessage }} </div>
            {% endfor %}
        {% endblock %} 
   </div>    
{% endblock %}
        
{% block menu15 %}
        <li class="activeMenu"><a href="{{ path('venture_pipeline_list', {'type': 'show_all'}) }}">Pipeline</a></li>
{% endblock %}
