{{ form_start(form )}}
<table id="hor-minimalist-a">
    <tbody>
        <tr>
            <td>{{ form_label(form.current_password) }}</td>
            <td>
                {{ form_widget(form.current_password) }}
                <p>{{ form_errors(form.current_password) }}</p>
            </td>
        </tr>
        
        <tr>
            <td>{{ form_label(form.new.first) }}</td>
            <td>
                {{ form_widget(form.new.first) }}
                <p>{{ form_errors(form.new.first) }}</p>
            </td>
        </tr>
        
        <tr>
            <td>{{ form_label(form.new.second) }}</td>
            <td>
                {{ form_widget(form.new.second) }}
                <p>{{ form_errors(form.new.second) }}</p>
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
            </td>
        </tr>
        
    </tbody>
</table>
{{ form_end(form )}}