{{ form_start(form, {'attr' : {'role': 'form', 'class': 'form-horizontal'} } ) }}

    <div class="form-group space-top">
        {{ form_label(form.current_password, null, {'label_attr': {'class' : 'col-sm-3 control-label'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.current_password, {'attr': {'class' : 'form-control input-sm'} }) }}
            {{ form_errors(form.current_password) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.new.first, null, {'label_attr': {'class' : 'col-sm-3 control-label'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.new.first, {'attr': {'class' : 'form-control input-sm'} }) }}
            {{ form_errors(form.new.first) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.new.second, null, {'label_attr': {'class' : 'col-sm-3 control-label'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.new.second, {'attr': {'class' : 'form-control input-sm'} }) }}
            {{ form_errors(form.new.second) }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
            <button type="Submit" class="btn btn-default">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
        </div>
    </div>

{{ form_end(form) }}