{% extends '::venture.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
	<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    {% stylesheets
        '@VentureVendorBundle/Resources/public/css/common.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />    
    {% endstylesheets %}
{% endblock %}


{% block middle %}
    {{ parent() }}
    <div class = "maincont">
        {% block main %} 
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="notice"> {{ flashMessage }} </div>
            {% endfor %}
        {% endblock %} 
   </div>    
{% endblock %}
        
{% block menu8 %}
        <li class="activeMenu"><a href="{{ path('VentureVendorBundle_vendor_list', {'type': 'show_all'}) }}">Vendors</a></li>
{% endblock %}
