<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Product Line</th>
                <th>Status</th>
                <th>Updated</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for productLine in productLines %}
                <tr>
                    <td>{{ productLine.name }}</td>
                    <td>{{ productLine.isActive?'Active':'Inactive' }}</td>
                    <td>{{ productLine.updated|date('F j, Y h:iA') }}</td>
                    <td>
                        <a class="my_custom_anchor" href="{{ path('SettingsConfigBundle_product_line_update', {'id': productLine.id}) }}">Edit</a> |
                        <a class="my_custom_anchor delete" href="{{ path('SettingsConfigBundle_product_line_delete', {'id': productLine.id}) }}" >Delete</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">There are no product line entered yet</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>