<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Test Procedure Name</th>
                <th>Status</th>
                <th>Updated</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for procedure in procedures %}
                <tr>
                    <td>{{ procedure.name }}</td>
                    <td>{{ procedure.approved?'Active':'Inactive' }}</td>
                    <td>{{ procedure.updated|date('F j, Y h:iA') }}</td>
                    <td>
                        <a class="my_custom_anchor" href="{{ path('SettingsConfigBundle_test_procedure_update', {'id': procedure.id}) }}">Edit</a> |
                        <a class="my_custom_anchor delete" href="{{ path('SettingsConfigBundle_test_procedure_delete', {'id': procedure.id}) }}" >Delete</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">There is no test procedure listed yet</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>