   <table id="hor-minimalist-a">
        <thead>
            <th>Test Procedure Name</th>
            <th>Status</th>
            <th>Updated</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for procedure in procedures %}
            <tr class="records {{ cycle(['odd', 'even'], loop.index0) }}">
                <td>{{ procedure.name }}</td>
                
                <td>{% if procedure.approved %} 
                        Active
                    {% else %}
                        Inactive
                    {% endif %}
                </td>

                <td>{{ procedure.updated|date('F j, Y h:iA') }}</td>
                <td>
                    <a class="my_custom_anchor" href="{{ path('SettingsConfigBundle_test_procedure_update', {'id': procedure.id}) }}">Edit</a> | 
                    <a class="my_custom_anchor" href="{{ path('SettingsConfigBundle_test_procedure_delete', {'id': procedure.id}) }}" onclick="return confirmDel();">Delete</a>
                </td>
            </tr>
            {% else %}
            <tr class="empty">
                <td colspan="5">There is no test procedure listed yet</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>